<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lesson7"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <service android:name="com.example.lesson7.MyIntentServ" />
        <activity android:name="com.example.lesson7.MyActivity"
                  android:label="RSS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.lesson7.RSSItemDisplayer" android:label="News">
            <intent-filter>
                <action android:name="android.intent.action.displayRssItem"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.lesson7.ListRSS" android:label="List Rss">
            <intent-filter>
                <action android:name="android.intent.action.listRss"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.lesson7.AddRSSToList" android:label="Add chanel">
            <intent-filter>
                <action android:name="android.intent.action.listRss"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.example.lesson7.MyReceiver">
            <intent-filter>
                <action android:name="com.example.lesson7.SAVESTART" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
